.profile_img {
  text-align: left;
  width: 30%;
  // border: 1px solid red;
}

.title-page {
  // border: 1px solid green

}
.blue-div {
  // border: 1px solid blue;
  display: flex;
  justify-content: space-between;
}
