.blue-div {
  border: 1px solid blue;
  // float: left;
  display: flex;
  justify-content: space-evenly;
}

.title-page {
  border: 1px solid green;
}

.btn-lightblue {
  margin-top: 20px;
  border-radius: 50px;
  width: 20%;
  margin-left: auto;
}
