.blue-div {
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
}

.title-page {
  border: 1px solid green;
  margin-top: 10%;
}

.btn-lightblue {
  margin-top: 20px;
  border-radius: 50px;
  width: 20%;
  margin-left: auto;
}
h1, h2, p {
  text-align: center;
}
  h1 {
    font-size: 100px;
  }
