<div class="card-trip">
  <img src="ozujeanjacket.png" />
  <div class="card-trip-infos">
    <div>
      <h2>Ozu The Cat</h2>
      <p>Watch movies with me!</p>
    </div>
    <h2 class="card-trip-pricing">$500.00/day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
