<div class="banner">
  <div class="container-home">
    <h1>Zoo4U</h1>
    <p>Change your life and try a pet!</p>
    <%= link_to "Browse All Animals", animals_path,  class: "btn btn-ghost"%>
  </div>
</div>
