<div class="card-trip">
  <%= render "animal_image", animal: animal %>

  <div class="card-trip-infos">
    <div>
      <h2><%= link_to animal.name, animal_path(animal) %></h2>
      <h3><%= animal.animal_type %></h3>
    </div>
    <h2 class="card-trip-pricing">$<%= animal.price %>/day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
