<div class="index-title">
<h1>Our Animals</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <% @animals.each do |animal| %>
      <%= render "card", animal: animal %>
      <% end %>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
