<div class="index-title">
<h1>Our Animals</h1>
</div>


<div class="container">
  <div class="cards-animals">
    <% @animals.each do |animal| %>
    <%= render "card", animal: animal %>
    <% end %>
  </div>
</div>

