
<div class="container">
  <div class="index-title">
    <h1>All My Animals</h1>
  </div>
  <div class="cards-animals">
    <% @animals.each do |animal| %>
    <%= render "card", animal: animal %>
    <% end %>
  </div>
</div>
