<%= link_to "All Animals", animals_path %>

<%# cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
<h1><%= @animal.name %></h1>
<h2><%= @animal.animal_type %></h2>

<p><%= @animal.description %></p>
