
.banner {
  background-size: 100vw 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1545529468-42764ef8c85f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80");
  
  /* Sizing */
    width: 100vw;
    height: calc(100vh - 65px);
     /* Text styles */
    text-align: center;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 64px;
    font-weight: bold;
  }
    p {
      font-size: 24px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.985);
    }
}

// .container-home {
//   width: 100vw;
//   height: 100vw;
//   background-size: 100vw 100vh;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1545529468-42764ef8c85f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80");
  
// }

