.booking-card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 10px;
}

.booking-card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.booking-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.booking-card-product .booking-card-product-infos {
  padding: 16px;
}

.all-my-booking-title {
  text-align: center;
  padding: 40px 0 30px 0;
}
