.btn-lightblue {
  color: #1572A1;
  padding: 8px 24px;
  border-radius: 4px;
  background: #9AD0EC;
  transition: background 0.3s ease;

  &:hover {
    background: white;
  }
}

.btn-ghost {
  color: #1572A1;;
  border: 1px solid #1572A1;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    color: black;
    border: 1px solid black;
  }
}

.btn-ghost-nav-bar {
  color: #9AD0EC;
  border: 1px solid #9AD0EC;
  padding: 8px 16px;
  margin-right: 1rem;
  margin-left: 0.5rem;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    color: black;
    border: 1px solid black;
  }
}

