.navbar-lewagon {
  justify-content: space-between;
  background: #1572a1;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 65px
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.custom-hover {
  a:hover { color: rgb(255, 255, 255) !important; }
}
